{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block contenido %}
    <div class="w-50 mt-3" style="margin: 0 auto;">
        <form id="frmProducto" action="/agregarProducto" method="post" enctype="multipart/form-data" onsubmit="return validarFile()" class="was-validated">
            <div>
                <h3 class="text-center">EDITAR PRODUCTO</h3>
            </div>
            <div class="form-floating">
                <input type="number" name="txtCodigo" id="txtCodigo" class="form-control" required>
                <label for="txtCodigo">Codigo Producto: </label>
                <br>
            </div>
            <div class="form-floating">
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" required>
                <label for="txtNombre">Nombre Producto </label>
                <br>
            </div>
            <div class="form-floating">
                <input type="number" name="txtPrecio" id="txtPrecio" class="form-control" required>
                <label for="txtPrecio">Precio Producto: </label>
                <br>
            </div>

            <div class="form-floating">
                <select class="form-select" name="cbCategoria" id="cbCategoria" value="{{producto[3]}}" required>
                    <option value="0" >Seleccione</option>
                    {% for categoria in listaCategorias %}
                            <option value="{{lista['_id']}}">{{lista['Categoria']}} </option>
                    {% endfor %}
                </select>
                <label for="cbcategoria">Categoria Producto: </label>
                <br>
            </div>
            <div class="form-floating">
                <input type="file" name="fimagen" id="fimagen" class="form-control" accept=".jpg" required>
                <label for="fimagen">Imagen del producto: (jpg)</label>
            </div>
            <div class="text-center">
                <br>
                <img id="imagenproducto" src="" alt="" width="100" height="100">
            </div>
            <div>
                <br>
                <button class="btn btn-success mt.3">Registrar</button>
            </div>
        </form>
        <div>
            {% if mensaje %}
                {% if estado %}
                    <script>
                        Swal.fire('Producto','{{mensaje}}','success')
                    </script>
                {% else %}
                    <script>
                        Swal.fire('Producto','{{mensaje}}','error')
                    </script>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}
