{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block contenido %}
<div class="w-75" style="margin: 0 auto;">
    <div>
        <h1 class="text-center">GESTIONAR PRODUCTOS</h1>
    </div>
    <br>
    <a href="/vistaProducto/"><button class="btn btn-success" style="margin-left: 125px;">Agregar</button></a>
    <br>
    <br>
    <table class="table table-bordered w-75" style="margin: 0 auto">
        <thead class="bg-danger text-white fw-bold">
            <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th>PRECIO</th>
                <th>CATEGORIA</th>
                <th>IMAGEN</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in listaProductos %}
            <tr>
                <td>{{producto.proCodigo}}</td>
                <td>{{producto.proNombre}}</td>
                <td>{{producto.proPrecio}}</td>
                <td>{{producto.proCategoria.catNombre}}</td>
                <td class="text-center"> 
                    <img src="../../media/{{producto.proFoto}}" width="50" height="50" alt="">
                </td>
                <td class="text-center" style="font-size: 4vh;">
                    <a href="/consultarProducto/{{producto.id}}">
                        <i class="fa fa-edit text-warning"></i>
                    </a>
                    <i class="fa fa-trash text-danger" onclick="abrirModalEliminar('{{producto.id}}')"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    {% if mensaje %}
        <script>
            Swal.fire("Gestion Producto",'{{mensaje}}',"info")
        </script>
    {% endif %}
</div>
{% endblock %}
{% block pie_pagina %}
    {% include "pie_pagina.html" %}
{% endblock %}